#logo-div {
    top: calc((100vh - ((402/500) * 45vh)) / 2);
    left: calc((100vw - 45vh) / 2);
    width: 45vh;
}

#logo {
    width: 45vh;
}

#everland-sign {
    top: calc(((100vh - ((97 / 500) * 45vh)) / 2) + (((305 / 2) / 500) * 45vh));   
    left: calc((100vw - 45vh) / 2);
    width: 45vh;
}

