#logo-div {
    top: calc((100vh - ((402/500) * 45vh)) / 2);
    left: calc((100vw - 45vh) / 2);
    width: 45vh;
}

#logo {
    width: 45vh;
}

#everland-sign {
    top: calc(((100vh - ((93 / 500) * 45vh)) / 2) + (((309 / 2) / 500) * 45vh));   
    left: calc((100vw - 45vh) / 2);
    width: 45vh;
    height: calc((93 / 500) * 45vh);
}

#shamrock {
    width: calc((77 / 500) * 45vh);
    top: calc(((100vh - ((68 / 500) * 45vh)) / 2) - (((160 - (68 / 2)) / 500) * 45vh));
    left: calc(((100vw - ((77 / 500) * 45vh)) / 2) + (((100 + (77 / 2))/ 500) * 45vh));
}

