html, body, #site-wrapper {
    overflow: hidden;
}

body::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url("4-default-frames/moving_0.png") url("4-default-frames/moving_1.png") url("4-default-frames/moving_2.png") url("4-default-frames/moving_3.png"); 
}

#background-for-clouds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6091cc;
    overflow: hidden;
}

@keyframes cloudsmoving {
    from {transform: translateX(-5464px);}
    to {transform: translateX(100vw);}
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

#clouds {
    will-change: transform;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 5464px;
    animation-name: cloudsmoving, fadein;
    animation-duration: 90s, 10s;
    animation-iteration-count: infinite, 1;
    animation-timing-function: linear, linear;
}

@keyframes earth {
    0% {content:url("4-default-frames/moving_0.png");}
    25% {content:url("4-default-frames/moving_1.png");}
    50% {content:url("4-default-frames/moving_2.png");}
    75% {content:url("4-default-frames/moving_3.png");}
}

#logo {
    will-change: contents;
    content:url("4-default-frames/moving_0.png");
    z-index: 20;
    width: 65vh;
    animation-name: earth, fadein;
    animation-duration: 2s, 3s;
    animation-iteration-count: infinite, 1;
    animation-timing-function: linear, linear;
}
