html, body, #site-wrapper {
    overflow: hidden;
}

@keyframes mist {
    from {opacity: 0.4;}
    to {opacity: 1;}
}

#site-wrapper {
    z-index: 1;
    animation-fill-mode: forwards;
    animation-name: mist;
    animation-duration: 7s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

body::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url("4-default-frames/moving_0.png") url("4-default-frames/moving_1.png") url("4-default-frames/moving_2.png") url("4-default-frames/moving_3.png"); 
}

#background-for-clouds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #6091cc;
    overflow: hidden;
    transition: filter 1s ease-in-out;
}

@keyframes cloudsmoving {
    from {transform: translateX(-5464px);}
    to {transform: translateX(100vw);}
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

#clouds {
    will-change: transform;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 5464px;
    animation-name: cloudsmoving, fadein;
    animation-duration: 90s, 10s;
    animation-iteration-count: infinite, 1;
    animation-timing-function: linear, linear;
    transition: filter 1s ease-in-out;
}

@keyframes earth {
    0% {content:url("4-default-frames/moving_0.png");}
    25% {content:url("4-default-frames/moving_1.png");}
    50% {content:url("4-default-frames/moving_2.png");}
    75% {content:url("4-default-frames/moving_3.png");}
}

#logo {
    will-change: contents;
    position: absolute;
    top: calc((100vh - ((402/500) * 60vh)) / 2);
    left: calc((100vw - 60vh) / 2);
    z-index: 40; 
    content: url("4-default-frames/moving_0.png");
    width: 60vh;
    animation-name: earth, fadein;
    animation-duration: 1.7s, 3s;
    animation-iteration-count: infinite, 1;
    animation-timing-function: linear, linear;
    transition: filter 2s ease-in-out;
}

#everland-sign {
    position: absolute;
    top: calc(((100vh - ((93 / 500) * 60vh)) / 2) + (((309 / 2) / 500) * 60vh));   
    left: calc((100vw - 60vh) / 2);
    opacity: 0;
    background-image: url("assets/everland-sign.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: calc((40 / 500) * 60vh);
    z-index: 60;
    width: 60vh;
    height: calc((93 / 500) * 60vh);
    animation-name: fadein;
    animation-duration: 6s;
    animation-delay: 4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    overflow: hidden;
    display: inline-block;
}

#shamrock {
    position: absolute;
    width: calc((77 / 500) * 60vh);
    top: calc(((100vh - ((68 / 500) * 60vh)) / 2) - (((160 - (68 / 2)) / 500) * 60vh));
    left: calc(((100vw - ((77 / 500) * 60vh)) / 2) + (((100 + (77 / 2))/ 500) * 60vh));
    content: url("assets/shamrock-whole.png");
    z-index: 50;
    transition: transform 2s, filter 1s ease-in-out;
    transform-origin: 15.584415584% 82.352941176%;
    animation-name: fadein;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

#shamrock:hover {
    transform: rotate(15deg);
}

#everland-sign::after {
    content: ""; 
    position: absolute;
    left: -200%;     
    width: 200%;
    height: 100%;
    opacity: 0;
    z-index: 51;
    background: rgba(255, 213, 88, 0.13);
    background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.0) 0%,
    rgba(255, 213, 88, 0.13) 77%,
    rgba(255, 213, 88, 0.5) 92%,
    rgba(255, 213, 88, 0.0) 100%
    );
}

#everland-sign:hover::after {
    opacity: 1;
    left: 100%;
    transition-property: left, opacity;
    transition-duration: 2.3s, 0.15s;
    transition-timing-function: ease;
}

@keyframes leftcomeup {
    from {opacity: 0; transform: rotate(-30deg);}
    to {opacity: 1; transform: rotate(0deg);}
}
#left-leaf-container {
    position: absolute;
    top: calc(((100vh - ((118 / 500) * 60vh)) / 2) + ((53 / 500) * 60vh));
    left: calc(((100vw - ((207 / 500) * 60vh)) / 2) - (((217 - (207 / 2)) / 500) * 60vh));
    width: calc((207 / 500) * 60vh);
    z-index: 50;
    opacity: 0;
    transform-origin: right bottom;
    animation-name: leftcomeup;
    animation-duration: 5s;
    animation-delay: 10s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    transition: filter 1s ease-in-out;
}
#left-leaf {
    width: calc((207 / 500) * 60vh);
    content: url("assets/left-leaf.png");
}

@keyframes rightcomeup {
    from {opacity: 0; transform: rotate(30deg);}
    to {opacity: 1; transform: rotate(0deg);}
}
#right-leaf-container {
    position: absolute;
    top: calc(((100vh - ((118 / 500) * 60vh)) / 2) + ((53 / 500) * 60vh));
    left: calc(((100vw - ((208 / 500) * 60vh)) / 2) + (((218 - (208 / 2)) / 500) * 60vh));
    width: calc((208 / 500) * 60vh);
    z-index: 50;
    opacity: 0;
    transform-origin: left bottom;
    animation-name: rightcomeup;
    animation-duration: 5s;
    animation-delay: 10s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    transition: filter 1s ease-in-out;
}
#right-leaf {
    width: calc((208 / 500) * 60vh);
    content: url("assets/right-leaf.png");
}

@keyframes jiggle {
  10% {transform: translate3d(-1px, 0px, 0);}
  
  20% {transform: translate3d(0px, 2px, 0);}

  30% {transform: translate3d(-1px, 0px, 0);}

  40% {transform: translate3d(0px, 2px, 0);}
  
  50% {transform: translate3d(-1px, 0px, 0);}
  
  60% {transform: translate3d(0px, 2px, 0);}
  
  70% {transform: translate3d(-1px, 0px, 0);}
  
  80% {transform: translate3d(0px, 2px, 0);}
  
  90% {transform: translate3d(-1px, 0px, 0);}
}

.leaf:active { 
   transform-origin: bottom;
   animation-fill-mode: both;
   animation-name: jiggle;
   animation-duration: 0.82s;
   animation-timing-function: cubic-bezier(.36, .07, .19, .97);
   transform: translate3d(0, 0, 0);
}

@keyframes suncomeup {
    from {opacity: 0; transform: rotate(30deg);}
    to {opacity: 1; transform: rotate(0deg);}
}

#sun {
    background-image: url("assets/sun.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: calc((80 / 500) * 60vh) calc((72 / 500) * 60vh) 0 calc((35 / 500) * 60vh);
    position: absolute;
    top: calc(((100vh - ((146 / 500) * 60vh)) / 2) - ((128 / 500) * 60vh));
    left: calc(((100vw - ((167 / 500) * 60vh)) / 2) - (((181 - (167 / 2)) / 500) * 60vh));
    width: calc((167 / 500) * 60vh);
    height: calc((146 / 500) * 60vh);
    opacity: 0;
    transform-origin: 23.952095808% 99.315068493%;
    animation: suncomeup 20s ease-out 4s 1;
    animation-fill-mode: forwards;
    overflow: hidden;
    display: inline-block;
    transition: filter 1s ease-in-out;
}

@keyframes atmsphFade {
    0% {opacity: 0;}
    10% {opacity: 1;}
    80% {opacity: 0;}
    100% {opacity: 0;}
}

#atmsph { 
    content: url("assets/atmsph.png");
    position: absolute;
    opacity: 0.4;
    top: calc(((100vh - ((101 / 500) * 60vh)) / 2) - ((105.5 / 500) * 60vh));
    left: calc(((100vw - ((126 / 500) * 60vh)) / 2) - ((81 / 500) * 60vh));
    width: calc((126 / 500) * 60vh);
    height: calc((101 / 500) * 60vh);
    z-index: 41;
    animation: atmsphFade 30s ease-out;
    animation-fill-mode: forwards;
    transition: filter 1s ease-in-out;
}

#sun::after {
    content: ""; 
    position: absolute;
    left: -200%;     
    width: 200%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    background: rgba(255, 213, 88, 0.13);
    background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.0) 0%,
    rgba(255, 213, 88, 0.13) 77%,
    rgba(255, 213, 88, 0.5) 92%,
    rgba(255, 213, 88, 0.0) 100%
    );
    animation: sunGlaze 6s ease infinite;
}

@keyframes sunGlaze {
    0% {
        left: -200%;
        opacity: 0;
    }

    2% {
        opacity: 1;
    }

    35% {
        left: 100%;
    }
}

@keyframes cloud_hover {
    0% {transform: translateY(0);}
  
    50% {transform: translateY(2px);}
}

@keyframes logo_right_cloud {
    from {opacity: 0; left: calc((((100vw - ((212 / 500) * 60vh)) / 2) + ((128 / 500) * 60vh)) - 40vh);}
    to {opacity: 1; left: calc(((100vw - ((212 / 500) * 60vh)) / 2) + ((128 / 500) * 60vh));}
}

#right-cloud {
    position: absolute;
    width: calc((212 / 500) * 60vh);
    height: calc((74 / 500) * 60vh);
    top: calc(((100vh - ((74 / 500) * 60vh)) / 2) - ((67 / 500) * 60vh));
    opacity: 0;
    z-index: 51;
    background-image: url("assets/right-cloud.png");
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: logo_right_cloud, cloud_hover;
    animation-duration: 14s, 2s;
    animation-timing-function: linear, cubic-bezier(.36, .07, .19, .97);
    animation-delay: 5s, 6s;
    animation-iteration-count: 1, infinite;
    animation-fill-mode: forwards;
    transition: filter 1s ease-in-out;
}

@keyframes logo_left_cloud {
    from {opacity: 0; left: calc((((100vw - ((203 / 500) * 60vh)) / 2) - ((148.5 / 500) * 60vh)) + 40vh);}
    to {opacity: 1; left: calc(((100vw - ((203 / 500) * 60vh)) / 2) - ((148.5 / 500) * 60vh));}
}

#left-cloud {
    position: absolute;
    width: calc((203 / 500) * 60vh);
    height: calc((77 / 500) * 60vh);
    top: calc(((100vh - ((77 / 500) * 60vh)) / 2) - ((40.5 / 500) * 60vh));
    opacity: 0;
    z-index: 51;
    background-image: url("assets/left-cloud.png");
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: logo_left_cloud, cloud_hover;
    animation-duration: 14s, 2s;
    animation-timing-function: linear, cubic-bezier(.36, .07, .19, .97);
    animation-delay: 5s, 5s;
    animation-iteration-count: 1, infinite;
    animation-fill-mode: forwards;
    transition: filter 1s ease-in-out;
}

#switch, #circle {
    height: 20px;
    transition: all 0.4s cubic-bezier(0.54, 1.6, 0.5, 1);
    opacity: 0;
    animation: fadein 4s linear 10s;
    animation-fill-mode: forwards;
}

#switch {
    width: 40px;
    margin: 0 auto;
    border: 2px solid #DA8508;
    border-radius: 27px;
    background: #DA8508;
    position: absolute;
    top: calc(((100vh + (402 / 500) * 60vh) / 2) + 15px);
    left: calc(50vw - 20px);
}

#circle {
    margin-top: 5%;
    margin-left: 5%;
    width: 40%;
    height: 80%;
    border-radius: 50%;
    box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
    background: #e9e5d5;
}

.switched {
    border-color: #1C3958 !important;
    background: #1C3958 !important;
}

.switched #circle {
    margin-left: 55%;
    background: #e9e5d5;
}

.night {
    filter: grayscale(70%) brightness(30%);
}


